<meta charset="utf-8" />
<link rel="stylesheet" href={{ url_for('static', filename= 'css/bootstrap.min.css') }} type="text/css" />
<link rel="stylesheet" href={{ url_for('static', filename= 'css/common.css') }} type="text/css">
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
{% include 'includes/scripts.jinja' %}