<div class="center-on-page">
    <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg continue" style="margin-right: 5px"
                 onclick='window.location.href="{{ prev_page }}"; window.clickedNext=true;'>
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
    </button>
    <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue"
            onclick='window.location.href="{{ next_page }}"; window.clickedNext=true;'>
            Next <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
</div>